/* COLORS */

$bg00: #121212;
$bg01: lighten($bg00, 5%);
$bg02: lighten($bg00, 10%);
$bg03: lighten($bg00, 15%);
$bg04: lighten($bg00, 20%);

$txt00: #FFFFFF;
$txt01: lighten($bg00, 85%);
$txt02: lighten($bg00, 75%);
$txt03: lighten($bg00, 60%);
$txt04: lighten($bg00, 45%);